<H1>Sign Up</H1>
<div>
    <form action="/users/create" method="post">
        <input type="text" placeholder="Enter Name" name="name" required>
        <input type="email" placeholder="Enter Email" name="email" required>
        <input type="password" placeholder="Enter Password" name="password" required>
        <input type="password" placeholder="Confirm Password" name="confirm_password" required>
        <button type="submit">Sign Up</button>
    </form>
</div>